.about-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 15px 0;
  padding: 50px 0;
  text-align: justify;
}

.about-us h1 {
  text-transform: uppercase;
}
@media screen and (max-width: 700px) {
  .about-us {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
