body {
  margin: 0;
  background-color: #e6e6e6 !important;
}

h1::after,
h2::after,
h3::after,
h4::after {
  background-color: #f78f1e;
  content: "";
  display: block;
  height: 6px;
  left: 50;
  margin-top: 10px;
  position: absolute;
  width: 90px;
}
